body{
    margin: 0px;
    padding: 0px;
   
}


.center ul {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.center ul li {
    list-style: none;
    margin: 0px 10px;
    padding: 10px;
}

.center ul li a {
    text-decoration: none;
    width: 100px;
    height: 50px;
    display: inline-block;
    color: black;
   
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    position: relative;
    perspective: 200px;
    z-index: 0;
}

.center ul li:hover a {
    color: #fff;
}

.center ul li a::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    transform: rotateX(90deg);
    transform-origin: center;
    transition: all 0.5s;
    
}

.center ul li:nth-child(1) a::before {
    background-color: aqua;
}

.center ul li:nth-child(2) a::before {
    background-color: greenyellow;
}

.center ul li:nth-child(3) a::before {
    background-color: lightblue;
}

.center ul li:nth-child(4) a::before {
    background-color: burlywood;
}

.center ul li:nth-child(5) a::before {
    background-color: purple;
}

.center ul li:hover a::before {
    transform: rotateX(0deg);
    
}





